<template>
  <div id="q-app">
    <star-field class="background-stars"/>
    <router-view />
  </div>
</template>
<script lang="ts">
import StarField from './components/StarField.vue'

export default {
  name: 'App',
  components: {
    StarField
  }
}
</script>

<style lang="scss">
  .background-stars {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  @media screen and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      height: 100vw;
    }
  }
</style>
