version: "3"
networks:
  database:
services:
  client:
    build: './client'
    container_name: client
    ports:
      - 8080:8080
    volumes:
      - ./client:/data
    environment:
      - API_URL=http://localhost:3000/
  api:
    build: './api'
    container_name: api
    volumes:
      - ./api:/data2
    networks:
      - database
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - 3000:3000
    depends_on:
      - db
      - client
    command: sh -c "./wait-for db:5432 -- npm run serve"
  db:
    build: './db'
    container_name: db
    restart: always
    networks:
      - database 
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: swg
      