// app global css in SCSS form
@font-face {
  font-family: 'PixelEmulator';
  src: url(../assets/fonts/PixelEmulator.otf);
}
@font-face {
  font-family: 'ItcSerifGothicBold';
  src: url(../assets/fonts/SerifGothicStdBold.otf);
}
@font-face {
  font-family: 'ItcSerifGothic';
  src: url(../assets/fonts/SerifGothicStd.otf);
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../assets/fonts/ProximaNovaRegular.otf);
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url(../assets/fonts/ProximaNovaBold.otf);
}
@font-face {
  font-family: 'ProximaNovaItalic';
  src: url(../assets/fonts/ProximaNovaRegularItalic.otf);
}

html, body {
  overflow: hidden;
}

// declare a class which applies it
.main-font {
  font-family: 'ProximaNova';
}
.bold-font {
  font-family: 'ProximaNovaBold';
}
.header-font {
  font-family: 'ItcSerifGothicBold';
}

.left-safe-padding {
  margin-left: 2rem;
}

.right-safe-padding {
  margin-right: 2rem;
}

.no-padding-top {
  z-index: 0;
  padding-top: 0!important;
  height: 100vh!important;
  .q-page-container {
    z-index: 0;
  }
  .q-page /deep/ {
    height: 100%;
  }
}

@supports(padding:max(0px)) {
  body, header, footer {
    padding-left: unquote('min(0vmin, env(safe-area-inset-left))');
    padding-right: unquote('min(0vmin, env(safe-area-inset-right))');
  }
}
