// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


// src/css/quasar.variables.scss

$primary   : #067EB2;
$secondary : #BCBCBA;
$accent    : #D76652;
$dark      : #2B383A;
$bright-orange: #FEC319;

$black     : #000000;
$bright-blue: #0db9d6;

$positive  : #128024;
$negative  : #d30d08;
$info      : #3a44a6;
$warning   : #F2C037;


// Set the default font-family
$typography-font-family : 'ProximaNova', sans-serif !default;

.augmented-nav {
  opacity: 0.8;
  background-color: lighten($dark,5%);
  --aug-border: 2px;
  --aug-tl: 5px;
  --aug-tl-height: 30%;
  --aug-tl-width: 30%;
  --aug-br: 5px;
  --aug-br-height: 20%;
  --aug-br-width: 20%;
  --aug-inset-bg: url('~assets/60-lines.png');
  --aug-border-bg: linear-gradient(#{$secondary}, transparent), linear-gradient(to right, #{$primary}, transparent), #{$accent};
}

.augmented-nav-chat {
  opacity: 1;
  background-color: lighten($dark,5%);
  --aug-border: 2px;
  --aug-l: 5px;
  --aug-l-height: 60%;
  --aug-l-width: 10%;
  --aug-br: 5px;
  --aug-br-height: 20%;
  --aug-br-width: 20%;
  --aug-tr: 5px;
  --aug-tr-height: 20%;
  --aug-tr-width: 20%;
  --aug-inset-bg: url('~assets/60-lines.png');
  --aug-border-bg: linear-gradient(#{$secondary}, transparent), linear-gradient(to right, #{$primary}, transparent), #{$accent};
}

.augmented-map-nav {
  opacity: 0.8;
  background-color: lighten($dark,5%);
  --aug-border: 2px;
  --aug-r-width: 10%;
  --aug-r-height: 60%;
  --aug-inset-bg: url('~assets/60-lines.png');
  --aug-border-bg: linear-gradient(#{$secondary}, transparent), linear-gradient(to right, #{$primary}, transparent), #{$accent};
}
