<template>
  <q-page class="row items-center justify-evenly q-ma-none q-pa-none">
    <q-card class="q-pa-md">
      <q-card-section>
        <div class="header-font">Hello {{ $auth.user.email }}!</div>
      </q-card-section>
      <q-card-section>
        <p>Ready to create your dynasty?  Click that button in the upper left to get started.</p>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'CreateCharacter',
}
</script>

<style lang="scss">
  .header-font {
    font-size: 1.25rem;
  }
</style>
