<template>
  <q-page>
    <div class="card-wrapper q-pt-md q-px-md">
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md q-pt-sm"
      >
        <q-stepper
          v-model="step"
          vertical
          color="primary"
          animated
        >
          <q-step
            :name="1"
            title="Dynasty Name"
            icon="nights_stay"
            :done="step > 1"
          >
            <p>In Star Wars Dynasties, your adventure can span generations.
              Your dynasty is the legacy that your characters leave behind - what they achieve or how they perish.
              Every player character you play as will have the same dynasty name visible to other players as their surname.
              You are unable to change this later, so pick a good one!</p>
            <q-input
              filled
              v-model="dynastyName"
              label="Your Dynasty name *"
              hint="(i.e. family surname like 'Skywalker' or 'Solo')"
              :error="!isValidDynasty"
              error-message="'Please enter a dynasty name'" />
            <q-stepper-navigation>
              <q-btn @click="step = 2" color="primary" label="Continue" :disable="!isValidDynasty" />
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="2"
            title="Character Info"
            icon="person_add"
            :done="step > 2"
          >
            <p>This is your character that will travel the galaxy, pilot ships, engage in combat and trade, and any other manner of
             adventure that you choose. Pursue the villains of the galaxy, become one yourself, or walk another middle path.
             You can be killed and if/when you do you will begin a new character in your dynasty.</p>
            <q-input
              filled
              v-model="firstName"
              label="Character's first name *"
              hint="(i.e. like 'Luke' or 'Han')"
              :error="!isValidFirstName"
              error-message="'Please enter a first name'" />
            <q-select filled
                      v-model="species"
                      :options="['Human', 'Rodian', 'Hutt', 'Trandoshan', 'Twilek', 'Zabrak']"
                      label="Species *"
                      :error="!isValidSpecies"
                      error-message="'Please select a species'"
                      class="q-pt-sm" />
            <div class="text-body1 q-pt-md q-pb-md">Gender</div>
            <q-btn-toggle
              v-model="gender"
              toggle-color="primary"
              :options="[
                {label: 'Male', value: 'male'},
                {label: 'Female', value: 'female'},
                {label: 'Other', value: 'other'}
              ]"
            />
            <div v-if="gender === 'other'">
              <div class="text-body1 q-pt-md">Define Pronouns</div>
              <q-input
                filled
                v-model="subjective"
                label="Subjective pronoun *"
                hint="(i.e. X went to the store.)"
                class="q-pt-md"/>
              <q-input
                filled
                v-model="objective"
                label="Objective pronoun *"
                hint="(i.e. That belongs to X.)"
                class="q-pt-md"/>
              <q-input
                filled
                v-model="possessive"
                label="Possessive pronoun *"
                hint="(i.e. This is X thing.)"
                class="q-pt-md"/>
              <q-input
                filled
                v-model="absolutePossessive"
                label="Absolute possessive pronoun *"
                hint="(i.e. These things are X.)"
                class="q-pt-md"/>
            </div>
            <q-stepper-navigation>
              <q-btn @click="step = 3" color="primary" label="Continue" :disable="!isValidDynasty" />
              <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
            </q-stepper-navigation>
          </q-step>
          <q-step
            :name="3"
            title="Character Skills"
            icon="person_add"
            :done="step > 3"
          >
            <p>Characters will be able to pilot starships, operate weapon systems, and manage a variety of modules for their ships. Set your skill level from the skills below.</p>
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label>Engines</q-item-label>
                  <q-slider
                    v-model="s_engine"
                    :min="0"
                    :max="10"
                    markers
                    label
                    label-always
                    color="primary"
                  />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Navigation</q-item-label>
                  <q-slider
                    v-model="s_navigation"
                    :min="0"
                    :max="10"
                    markers
                    label
                    label-always
                    color="primary"
                  />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Weapons</q-item-label>
                  <q-slider
                    v-model="s_weapons"
                    :min="0"
                    :max="10"
                    markers
                    label
                    label-always
                    color="primary"
                  />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Shields</q-item-label>
                  <q-slider
                    v-model="s_shields"
                    :min="0"
                    :max="10"
                    markers
                    label
                    label-always
                    color="primary"
                  />
                </q-item-section>
              </q-item>
            </q-list>
            <q-stepper-navigation>
              <q-btn color="primary" label="Finish" @click="onSubmit" :disable="!isValidForm"/>
              <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
            </q-stepper-navigation>
          </q-step>
        </q-stepper>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import Vue from 'vue'
import { Loading } from 'quasar'

export default {
  name: 'Map',
  components: {
  },
  data () {
    return {
      dynastyName: null,
      firstName: null,
      species: null,
      gender: null,
      subjective: null,
      objective: null,
      possessive: null,
      absolutePossessive: null,
      s_engine: 5,
      s_navigation: 5,
      s_weapons: 5,
      s_shields: 5,
      step: 1,
    }
  },
  methods: {
    async onSubmit () {
      Loading.show({
        backgroundColor: 'dark'
      })
      const dynastyResponse = await Vue.prototype.$axios.post('/dynasties', {
        dynasty_name: this.dynastyName.trim(),
        owner_id: Vue.prototype.$auth.user.sub,
      })
      const characterResponse = await Vue.prototype.$axios.post('/characters', {
        name: this.firstName.trim(),
        species: this.species.toLowerCase(),
        gender: this.gender.trim(),
        pron_s: this.subjective.trim(),
        pron_o: this.objective.trim(),
        pron_p: this.possessive.trim(),
        pron_ap: this.absolutePossessive.trim(),
        s_engine: this.s_engine,
        s_navigation: this.s_navigation,
        s_weapons: this.s_weapons,
        s_shields: this.s_shields,
        owner_id: Vue.prototype.$auth.user.sub,
        dynasty_id: dynastyResponse.data.id,
        ship_id: null,
        interior_tile_id: null,
      })
      Vue.set(this.$store.state, 'character', characterResponse.data)
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'nights_stay',
        message: `The ${this.dynastyName} Dynasty begins...`
      })
      this.$emit('created')
      Loading.hide()
    },
    onReset () {
      this.dynastyName = null
      this.firstName = null
      this.species = null
      this.gender = null
      this.subjective = null
      this.objective = null
      this.possessive = null
      this.absolutePossessive = null
      this.s_engine = 5
      this.s_navigation = 5
      this.s_weapons = 5
      this.s_shields = 5
    },
    updateLocalGender (sub, obj, pos, abs) {
      this.subjective = sub
      this.objective = obj
      this.possessive = pos
      this.absolutePossessive = abs
    }
  },
  computed: {
    isValidForm () {
      return this.isValidDynasty && this.isValidFirstName && this.isValidSpecies && this.isValidGender
    },
    isValidGender () {
      if (this.gender === 'male') {
        this.updateLocalGender('he', 'him', 'his', 'his')
      } else if (this.gender === 'female') {
        this.updateLocalGender('she', 'her', 'her', 'hers')
      } else {
        const sub = this.subjective ? this.subjective.trim() : null
        const obj = this.objective ? this.objective.trim() : null
        const pos = this.possessive ? this.possessive.trim() : null
        const abs = this.absolutePossessive ? this.absolutePossessive.trim() : null
        this.updateLocalGender(sub, obj, pos, abs)
      }
      return this.subjective && this.objective && this.possessive && this.absolutePossessive
    },
    isValidDynasty () {
      return this.dynastyName && this.dynastyName.trim().length > 0
    },
    isValidFirstName () {
      return this.firstName && this.firstName.trim().length > 0
    },
    isValidSpecies () {
      return this.species
    }
  }
}
</script>
