<template>
  <q-page class="row items-center justify-evenly q-ma-none q-pa-none">
    <q-card class="q-pa-md">
      <q-card-section>
        <div class="header-font">A long time ago in a galaxy far, far away...</div>
      </q-card-section>
      <q-card-section>
        <p>Click the upper left button to signup or login.</p>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'CreateUser',
}
</script>

<style lang="scss">
  .header-font {
    font-size: 1.25rem;
  }
</style>
