<template>
  <q-page class="row items-center justify-evenly q-ma-none q-pa-none">
    <system-grid />
  </q-page>
</template>

<script lang="ts">
import { mapState } from 'vuex'
import SystemGrid from '../components/SystemGrid.vue'
export default {
  name: 'PageIndex',
  components: { SystemGrid },
  computed: {
    ...mapState(['character'])
  }
}
</script>
