<template>
  <q-page>
    <div class="card-wrapper q-pt-md">
      <q-card class="column items-center q-mx-md overflow-hidden">
        <q-card-section class="overflow-hidden q-px-none full-width">
          <star-map v-if="items" :points="items"/>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import Vue from 'vue'
import StarMap from 'components/StarMap.vue'
export default {
  name: 'Map',
  components: {
    StarMap
  },
  data () {
    return {
      items: null
    }
  },
  methods: {
    async retrievePlanets () {
      const itemsResponse = await Vue.prototype.$axios.get('/planets')
      Vue.set(this, 'items', itemsResponse.data)
    }
  },
  created () {
    this.retrievePlanets()
  }
}
</script>
