<template>
  <q-layout view="hHr lpR fFr">

    <profile-control/>
    <chat-control v-if="$auth.isAuthenticated && character"/>
    <map-control v-if="$auth.isAuthenticated && character"/>
    <nav-bar/>
    <positional-control v-if="$auth.isAuthenticated && character && currentPlayerShip"/>

    <chat-drawer v-if="$auth.isAuthenticated && character"/>

    <div v-if="!$auth.isLoading">
      <q-page-container class="no-padding-top">
        <router-view v-if="$auth.isAuthenticated && character" />
        <create-character v-else-if="$auth.isAuthenticated && !character" />
        <create-user v-else />
      </q-page-container>
    </div>

  </q-layout>
</template>

<script>
import { mapState } from 'vuex'
import NavBar from '../components/NavBar.vue'
import ProfileControl from '../components/ProfileControl.vue'
import MapControl from '../components/MapControl.vue'
import ChatControl from '../components/ChatControl.vue'
import ChatDrawer from '../components/ChatDrawer'
import CreateCharacter from '../pages/CreateCharacter'
import CreateUser from '../pages/CreateUser'
import PositionalControl from '../components/PositionalControl'

export default {
  components: { CreateUser, CreateCharacter, ProfileControl, MapControl, ChatControl, ChatDrawer, NavBar, PositionalControl },
  data () {
    return {
      chatDrawer: false,
    }
  },
  computed: {
    ...mapState(['character', 'currentPlayerShip'])
  }
}
</script>

<style lang="scss">
.chat-control {
  position: absolute;
  left: 0;
  top: -2rem;
  bottom: 0;
  margin: auto;
  height: 3rem;
  z-index: 2;
}
.profile-control {
  position: absolute;
  top: 0;
  z-index: 2;
}
.map-control {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.positional-control {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}
</style>
