<template>
  <div class="character-button row items-center content-center">
    <q-btn class="augmented-nav q-pa-xs" augmented-ui="tl-clip br-clip exe" dense icon="portrait" @click="showCharacter">
      <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Character Profile</q-tooltip>
    </q-btn>
    <div class="character-title self-start q-pl-sm bold-font">{{character.name}} {{character.dynasty.dynasty_name}}</div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'CharacterButton',
  components: { },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapState(['character'])
  },
  methods: {
    showCharacter () {
      // TODO: show the player character or player login/logout options on click here
    }
  }
}
</script>
