<template>
  <div class="chat-control left-safe-padding q-pa-xs">
    <q-btn size="md" class="augmented-nav q-ma-xs q-mb-md" augmented-ui="tl-clip br-clip exe" dense icon="textsms" @click="$store.dispatch(CHAT_TOGGLED_ACTION)">
      <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Chat</q-tooltip>
    </q-btn>
  </div>
</template>

<script>
import { CHAT_TOGGLED_ACTION } from '../store'
export default {
  name: 'ChatControl',
  data () {
    return {
      CHAT_TOGGLED_ACTION
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../css/app.scss';
  .chat-control /deep/ {
    i {
      font-size: 1.5rem;
      padding: .25rem;
    }
  }
</style>
