<template>
  <q-drawer
    :value="chatDrawerOpen"
    @input="$store.dispatch(CHAT_TOGGLED_ACTION)"
    :width="500"
    behavior="mobile"
    overlay
    bordered
    no-swipe-close
    no-swipe-open
    class="chat-drawer"
  >
    <q-btn size="md" class="augmented-nav-chat q-ma-xs q-mb-md chat-close-button" augmented-ui="l-clip-y tr-clip br-clip exe" dense icon="keyboard_arrow_left" @click="$store.dispatch(CHAT_TOGGLED_ACTION)">
      <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Close Chat</q-tooltip>
    </q-btn>
    <div class="column full-height">
      <q-scroll-area class="col row q-mt-xl q-pt-xs nested-full-height" ref="chatColumn">
        <q-list class="column reverse full-width">
          <q-item-label header class="header-font fixed-top solid-background shadow-1">
            <div class="row">
              <div>GLOBAL CHAT</div>
              <q-space></q-space>
              <div class="text-body1">{{usersOnline}} user{{usersOnline === 1 ? '' : 's'}} online</div>
            </div>
          </q-item-label>
          <q-item v-for="message of messages" :key="message.tempId" clickable>
            <q-item-section>
              <div>
                <div class="row items-start full-height">
                  <q-item-label class="bold-font bigger-font" lines="1">{{message.handle}}</q-item-label>
                  <q-item-label class="text-body2 date-font q-pl-sm" lines="1">{{new Date(message.date).toDateString()}}</q-item-label>
                </div>
                <div class="row" style="white-space: pre-line;">{{message.message}}</div>
              </div>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <q-input
        v-model="text"
        autogrow
        @keyup="charTyped"
        :placeholder="`Type message to ${channel} channel`"
        filled
        class="col-auto col-grow row full-width shadow-up-1"
      />
    </div>
  </q-drawer>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import { CHAT_TOGGLED_ACTION } from '../store'

export default {
  name: 'ChatDrawer',
  data () {
    return {
      channel: 'Global',
      text: '',
      messages: [],
      CHAT_TOGGLED_ACTION,
    }
  },
  sockets: {
    newChatMessage: function ({ message, date, handle, tempId }) {
      const newMessages = this.messages
      newMessages.unshift({ message, date, handle, tempId })
      Vue.set(this, 'messages', newMessages)
      this.$refs.chatColumn.setScrollPosition(this.$refs.chatColumn.$el.scrollHeight, 1)
    }
  },
  methods: {
    charTyped (e) {
      e.preventDefault()
      if (e.keyCode === 13 && !e.shiftKey) {
        this.addMessage()
      } else if (e.keyCode === 13) {
        return false
      }
      return true
    },
    addMessage () {
      const sanitizedText = this.text.trim()
      if (this.$auth.user && sanitizedText.length > 0) {
        this.$socket.emit('chatMessage', {
          message: sanitizedText,
          date: new Date(),
          uid: this.$auth.user.sub,
        })
        Vue.set(this, 'text', '')
      }
    }
  },
  computed: {
    ...mapState(['chatDrawerOpen', 'usersOnline']),
  }
}
</script>

<style lang="scss">
.chat-drawer {
  position: relative;
}
.avatar-container {
  justify-content: start;
}
.bigger-font {
  font-size: 1rem;
}
.date-font {
  font-size: .75rem;
  color: lighten($dark, 30%);
}
.solid-background {
  background-color: $dark;
  z-index: 2;
}
.chat-close-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;
  margin: auto;
  height: 4rem;
  width: 1.5rem;
  opacity: 1;
  z-index: 3;
}
  .nested-full-height {
    .absolute.full-width {
      height: 100%;
    }
  }
</style>
