<template>
  <div class="map-control">
    <q-btn size="xl" class="augmented-map-nav left-safe-padding q-pa-xs q-ma-xs q-mb-md" augmented-ui="bl-round r-clip-y exe" dense icon="scatter_plot" @click="dialog = true">
      <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Galaxy Map</q-tooltip>
    </q-btn>
    <q-dialog
      v-model="dialog"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-page-container class="bg-dark text-white no-padding-top column">
        <div class="col row items-center modal-title">
          <div class="dialog-title header-font q-pl-lg q-pt-sm">GALAXY MAP</div>
          <q-space />
          <q-btn dense icon="close" color="negative" class="dialog-close-position augmented-nav" augmented-ui="tl-clip br-clip exe" v-close-popup="dialog"/>
        </div>
        <div class="col items-center bg-black">
          <star-map class="position-map"/>
        </div>
      </q-page-container>
    </q-dialog>
  </div>
</template>

<script>
import StarMap from './StarMap'
export default {
  name: 'MapControl',
  components: { StarMap },
  data () {
    return {
      dialog: false,
    }
  },
}
</script>

<style lang="scss" scoped>
  @import '../css/app.scss';
  .modal-title {
    max-height: 4rem;
  }
  .position-map {
    position: absolute;
    left: 1rem;
  }
  .dialog-title {
    font-size: 2rem;
  }
  .dialog-close-position {
    z-index: 2;
    margin: 1rem;
  }
</style>
