<template>
  <q-header class="text-white tab-border header-font logo-position logo-height" augmented-ui="r-clip-y l-clip-y t-clip-x br-clip-x bl-clip-x exe">
    <q-btn to="/" class="home-link text-body1 text-center full-width logo-height">Star Wars Dynasties</q-btn>
  </q-header>
</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style lang="scss">
  @import '../css/app.scss';
  .q-header {
    z-index: 2;
  }
  .q-tabs--horizontal .q-tabs__arrow--right {
    background-color: lighten($dark,3%);
  }
  .q-tabs--horizontal .q-tabs__arrow--left {
    background-color: lighten($dark,3%);
  }
  .home-link {
    position: absolute;
    width: 20rem!important;
    left: -4rem;
    top: 0;
    margin: auto;
    padding-top: .25rem;
  }
  .logo-position {
    width: 12rem;
    margin: 0 auto;
  }
  .logo-height {
    height: 3rem;
    max-height: 3rem;
    min-height: 3rem;
    line-height: 2rem;
  }
  .tab-border {
    background-color: lighten($dark,5%);
    --aug-border: 3px;
    --aug-inset: 0px;
    --aug-border-bg: #{$bright-orange};
    --aug-l-width: 4px;
    --aug-l-height: 12px;
    --aug-l-origin-y: 40%;
    --aug-r-width: 4px;
    --aug-r-height: 12px;
    --aug-r-origin-y: 40%;
    --aug-bl: 5px;
    --aug-br: 5px;
    --aug-t-width: 90%;
    --aug-t-height: 5px;
    --aug-bl-width: 20%;
    --aug-br-width: 20%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    --aug-inset-bg: url('../assets/60-lines.png');
    opacity: 0.8;
    --aug-border-bg: linear-gradient(#{$secondary}, transparent), linear-gradient(to right, #{$primary}, transparent), #{$accent};
  }
</style>
