<template>
  <div class="positional-control">
    <div v-if="character">
      <div class="text-h6 q-pt-sm">{{system.name}}</div>
      <div v-if="playerTraveling" class="text-subtitle1">
        Traveling to {{SYSTEM_TRIP_DESTINATION_GETTER || '...'}}
      </div>
      <div v-else>
        Idling at {{PLAYER_CURRENT_SHIP_SYSTEM_POSITION_GETTER}}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { SYSTEM_TRIP_DESTINATION_GETTER, PLAYER_CURRENT_SHIP_SYSTEM_POSITION_GETTER } from '../store'

export default {
  name: 'Positional',
  computed: {
    ...mapState(['character', 'system', 'playerTraveling']),
    ...mapGetters([SYSTEM_TRIP_DESTINATION_GETTER, PLAYER_CURRENT_SHIP_SYSTEM_POSITION_GETTER])
  },
}
</script>

<style lang="scss" scoped>
  @import '../css/app.scss';
  .positional-control {
    z-index: 2;
  }
</style>
