<template>
  <div class="profile-control">
    <div v-if="$auth.isAuthenticated" class="profile left-safe-padding q-pa-xs">
      <div v-if="!character">
        <q-btn class="augmented-nav q-pa-xs" augmented-ui="tl-clip br-clip exe" dense icon="person_add" @click="openCharacterModal">
          <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Create Character</q-tooltip>
        </q-btn>
      </div>
      <character-button v-else/>
    </div>
    <q-btn v-else class="augmented-nav left-safe-padding q-pa-xs q-ma-xs" augmented-ui="tl-clip br-clip exe" dense icon="login" @click="login">
      <q-tooltip :content-style="{'background-color': '#2B383A', 'color': '#ffffff'}">Login/Register</q-tooltip>
    </q-btn>
    <q-dialog
      v-model="dialog"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-page-container class="bg-dark text-white no-padding-top column">
        <div class="col row items-center character-modal-title">
          <div class="dialog-title header-font q-pl-lg q-pt-sm">CREATE YOUR DYNASTY</div>
          <q-space />
          <q-btn dense icon="close" color="negative" class="dialog-close-position augmented-nav" augmented-ui="tl-clip br-clip exe" v-close-popup="dialog"/>
        </div>
        <div class="col items-center character-modal-body">
          <create-dynasty class="no-padding-top" @created="dialog = false"/>
        </div>
      </q-page-container>
    </q-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CreateDynasty from '../pages/CreateDynasty.vue'
import CharacterButton from './CharacterButton.vue'
export default {
  name: 'ProfileControl',
  components: { CreateDynasty, CharacterButton },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapState(['character'])
  },
  methods: {
    login () {
      // @ts-ignore
      this.$auth.loginWithRedirect()
    },
    openCharacterModal () {
      this.dialog = true
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../css/app.scss';
  .character-modal-title {
    max-height: 4rem;
  }
  .dialog-title {
    font-size: 2rem;
  }
  .dialog-close-position {
    z-index: 2;
    margin: 1rem;
  }
</style>
