<template>
  <canvas id="c"></canvas>
</template>

<script>
export default {
  name: 'StarField',
  methods: {
    init () {
      // requestAnimFrame shim
      window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function (callback) {
            window.setTimeout(callback)
          }
      })()

      // get dimensions of window and resize the canvas to fit
      const width = window.innerWidth,
        height = window.innerHeight,
        canvas = document.getElementById('c'),
        mousex = width / 2,
        mousey = height / 2

      canvas.width = width
      canvas.height = height

      // get 2d graphics context and set global alpha
      const G = canvas.getContext('2d')
      G.globalAlpha = 0.25

      const Rnd = Math.random
      const Floor = Math.floor

      // constants and storage for objects that represent star positions
      const warpZ = 12,
        units = 500,
        stars = [],
        Z = 0.015
      let cycle = 0

      // function to reset a star object
      function resetstar (a) {
        a.x = (Rnd() * width - (width * 0.5)) * warpZ
        a.y = (Rnd() * height - (height * 0.5)) * warpZ
        a.z = warpZ
        a.px = 0
        a.py = 0
      }

      // initial star setup
      for (let i = 0, n; i < units; i++) {
        n = {}
        resetstar(n)
        stars.push(n)
      }

      // star rendering anim function
      const rf = function () {
        // clear background
        G.fillStyle = '#000'
        G.fillRect(0, 0, width, height)

        // mouse position to head towards
        const cx = (mousex - width / 2) + (width / 2),
          cy = (mousey - height / 2) + (height / 2)

        // update all stars
        let sat = Floor(Z * 500) // Z range 0.01 -> 0.5
        if (sat > 100) {
          sat = 100
        }
        for (let i = 0; i < units; i++) {
          const n = stars[i], // the star
            xx = n.x / n.z, // star position
            yy = n.y / n.z,
            e = (1.0 / n.z + 1) * 2 // size i.e. z

          if (n.px !== 0) {
            // hsl colour from a sine wave
            G.strokeStyle = `hsl(${(cycle * i) % 360},${sat}%,80%)`
            G.lineWidth = e
            G.beginPath()
            G.moveTo(xx + cx, yy + cy)
            G.lineTo(n.px + cx, n.py + cy)
            G.stroke()
          }

          // update star position values with new settings
          n.px = xx
          n.py = yy
          n.z -= Z

          // reset when star is out of the view field
          if (n.z < Z || n.px > width || n.py > height) {
            // reset star
            resetstar(n)
          }
        }

        // colour cycle sinewave rotation
        cycle += 0.01

        window.requestAnimFrame(rf)
      }
      window.requestAnimFrame(rf)
    }
  },
  mounted () {
    this.init()
  }
}
</script>
