<template>
  <div class="star-map-container">
    <div id="map" class="star-map"></div>
    <q-dialog v-if="showSelectedPlanet" :value="showSelectedPlanet" @input="selectedPlanet = null">
      <q-card class="augmented-nav-planet q-pa-md" augmented-ui="tl-round tr-round l-clip-y r-clip-y br-clip exe">
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              {{ selectedPlanet.name }}
            </div>
            <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
              <q-icon name="place" />
              {{ Math.round(selectedPlanet.x) }}, {{ Math.round(selectedPlanet.y) }}
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="text-subtitle1">
            Population: {{ decimalToPopulation(selectedPlanet.population) }}
          </div>
          <div class="text-caption text-grey">QoL: {{ longDecimalToDisplay(selectedPlanet.qol) }}%</div>
          <div class="text-caption text-grey">Job Prospects: {{ longDecimalToDisplay(selectedPlanet.job_prospects) }}%</div>
          <div class="text-caption text-grey">Climate: {{ longDecimalToDisplay(selectedPlanet.climate) }}%</div>
          <div class="text-caption text-grey">Crime: {{ longDecimalToDisplay(selectedPlanet.crime) }}%</div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { GALAXY_MAP_OPENED_ACTION } from '../store'
import { createGalaxyPixiApp, createGalaxyPlot, createGalaxyViewport, galaxyPixiApp } from '../GalaxyMapGraphics'

export default {
  name: 'StarMap',
  data () {
    return {
      mapObjectPlanets: [],
      selectedPlanet: null,
    }
  },
  computed: {
    ...mapState(['planets']),
    showSelectedPlanet () {
      return this.selectedPlanet !== null
    },
  },
  methods: {
    longDecimalToDisplay (value) {
      const roundedValue = Math.round((value / 1) * 100) / 100
      return roundedValue * 100
    },
    decimalToPopulation (value) {
      const fixed = value.toFixed(0)
      return parseInt(fixed).toLocaleString()
    },
    viewportClickHandler (data) {
      for (const planet of this.mapObjectPlanets) {
        if (planet.containsPoint(data.screen)) {
          this.selectedPlanet = this.planets.find(p => p.id === planet.swdId)
          break
        }
      }
    },
    async loadMap () {
      await this.$store.dispatch(GALAXY_MAP_OPENED_ACTION)
      createGalaxyPixiApp()
      createGalaxyViewport(this.viewportClickHandler)
      this.mapObjectPlanets = createGalaxyPlot()
    },
  },
  created () {
    this.loadMap()
  },
  destroyed () {
    galaxyPixiApp.destroy(true, { children: true })
  }
}
</script>

<style lang="scss" scoped>
  .star-map {
    width: calc(100vw - 2rem);
    height: calc(100vh);
    overflow: hidden;
  }
  .augmented-nav-planet {
    opacity: 0.8;
    background-color: lighten($dark,5%);
    --aug-border: 2px;
    --aug-tr: 10px;
    --aug-tr-width: 10px;
    --aug-tr-height: 10px;
    --aug-l-width: 5%;
    --aug-l-height: 70%;
    --aug-r-width: 3%;
    --aug-r-height: 20%;
    --aug-r-offset: -30%;
    --aug-tl: 10px;
    --aug-tl-height: 10px;
    --aug-tl-width: 10px;
    --aug-inset-bg: url('~assets/60-lines.png');
    --aug-border-bg: linear-gradient(#{$secondary}, transparent), linear-gradient(to right, #{$primary}, transparent), #{$accent};
  }
</style>
