<template>
  <div class="grid-container">
    <div id="grid" class="system-grid full-height full-width" />
    <div v-if="isShip" class="ship-popup">
      <div class="controls-label header-font">{{controlsLabel}}</div>
      <q-btn v-if="showConfirmMove" class="augmented-nav q-pa-xs q-mx-xs" augmented-ui="tl-clip br-clip exe" dense icon="check" label="Yes" @click="sendMove" />
      <q-btn v-if="showConfirmMove" class="augmented-nav q-pa-xs q-mx-xs" augmented-ui="tl-clip br-clip exe" dense icon="close" label="No" @click="cancelMove" />
      <q-btn v-if="!showConfirmMove" class="augmented-nav q-pa-xs q-mx-xs" augmented-ui="tl-clip br-clip exe" dense icon="games" label="Move" @click="enableMoveMode" />
    </div>
  </div>
</template>

<script>
import * as PF from 'pathfinding'
import { mapState } from 'vuex'
import { SYSTEM_GRID_OPENED_ACTION, SYSTEM_TRIPS_CHANGED_ACTION, SYSTEM_SPRITE_RENDERED_ACTION, PLAYER_TRAVELING_ACTION } from '../store'
import {
  createSystemPixiApp,
  createStarSystemGrid,
  createSystemViewport,
  loadTextureAtlas,
  systemPixiApp,
  tileHeight,
} from '../SystemMapGraphics'
import Ship from '../Ship'
import Vue from 'vue'

export default {
  name: 'SystemGrid',
  data () {
    return {
      tiles: [],
      selectedShip: null,
      controlsLabel: '',
      path: [],
      isMoveSelecting: false,
      showConfirmMove: false,
    }
  },
  computed: {
    ...mapState(['system', 'systemSpriteContainers', 'currentPlayerShip', 'playerTraveling', 'otherShips']),
    isShip () {
      return !!this.selectedShip
    },
  },
  methods: {
    async sendMove () {
      await Vue.prototype.$axios.post('/trips', {
        path: this.path
      })
      this.$store.dispatch(PLAYER_TRAVELING_ACTION, true)
      this.cancelMove()
    },
    cancelMove () {
      this.showConfirmMove = false
      this.isMoveSelecting = false
      this.controlsLabel = ''
      this.selectedShip = null
      this.path = []
      this.clearTravelPaths()
    },
    confirmMove (toX, toY) {
      this.showConfirmMove = true
      this.controlsLabel = `You have chosen tile ${toX}, ${toY}. Confirm?`
    },
    previewMove (toX, toY) {
      const movableGrid = this.system.tile_matrix
      const grid = new PF.Grid(10, 10, movableGrid)
      const finder = new PF.AStarFinder({
        allowDiagonal: true
      })
      if (!grid.nodes[toY][toX].walkable) {
        this.$q.notify({
          color: 'accent',
          textColor: 'white',
          timeout: 200,
          position: 'center',
          icon: 'warning',
          message: 'Cannot travel directly onto a star or station.'
        })
        return
      }
      Vue.set(this, 'path', finder.findPath(this.selectedShip.system_x, this.selectedShip.system_y, toX, toY, grid))
      this.clearTravelPaths()
      this.drawTravelPath()
      this.selectedShip.orientToTravelDirection(this.path[1])
      this.confirmMove(toX, toY)
    },
    drawTravelPath () {
      const pathMinusSelectedLocation = this.path.filter(p => !(p[0] === this.selectedShip.system_x && p[1] === this.selectedShip.system_y))
      for (const point of pathMinusSelectedLocation) {
        const tileSprite = this.tiles.find(t => t.system_x === point[0] && t.system_y === point[1])
        tileSprite.isInPath(pathMinusSelectedLocation)
      }
    },
    clearTravelPaths () {
      for (const tile of this.tiles) {
        if (tile.clearTravelPath !== undefined) {
          tile.clearTravelPath()
        }
      }
    },
    enableMoveMode () {
      this.isMoveSelecting = true
    },
    addShips () {
      ///
      // sound.play('thrusters', {
      //   loop: true,
      //   singleInstance: true
      // })
      ///
      const playerShipSprite = new Ship({
        name: this.currentPlayerShip.ship_type,
        x: this.currentPlayerShip.system_x,
        y: this.currentPlayerShip.system_y,
        orientation: this.currentPlayerShip.rotation,
        swdId: this.currentPlayerShip.id
      })
      this.$store.dispatch(SYSTEM_SPRITE_RENDERED_ACTION, playerShipSprite)
      for (const otherShip of this.otherShips) {
        const otherShipSprite = new Ship({
          name: otherShip.ship_type,
          x: otherShip.system_x,
          y: otherShip.system_y,
          orientation: otherShip.rotation
        })
        this.$store.dispatch(SYSTEM_SPRITE_RENDERED_ACTION, otherShipSprite)
      }
    },
    viewportClickHandler (data) {
      for (const loadedShip of this.systemSpriteContainers) {
        loadedShip.removeLabel()
        if (loadedShip.containsPoint(data.screen)) {
          this.selectedShip = loadedShip
          this.controlsLabel = loadedShip.name
          loadedShip.createLabel(loadedShip.name, loadedShip.x, loadedShip.y - tileHeight / 2)
          return
        }
        if (!this.isMoveSelecting) {
          this.selectedShip = null
        }
      }
      for (const tile of this.tiles) {
        if (tile.containsPoint(data.screen)) {
          if (this.isMoveSelecting) {
            this.previewMove(tile.system_x, tile.system_y)
          }
          return
        }
      }
    },
    async loadSystem () {
      await this.$store.dispatch(SYSTEM_GRID_OPENED_ACTION)
      createSystemPixiApp()
      createSystemViewport(this.viewportClickHandler)
      await loadTextureAtlas()
      this.tiles = createStarSystemGrid()
      this.addShips()
      this.setupSystemSocket()
    },
    setupSystemSocket () {
      this.$socket.emit('join', this.system.id)
    },
  },
  sockets: {
    trips: async function (systemTrips) {
      await this.$store.dispatch(SYSTEM_TRIPS_CHANGED_ACTION, systemTrips)
    },
    connect: function () {
      this.setupSystemSocket()
    }
  },
  created () {
    this.loadSystem()
  },
  watch: {
    playerTraveling: function (newVal) {
      if (!newVal) {
        this.cancelMove()
      }
    }
  },
  destroyed () {
    systemPixiApp.destroy(true, { children: true })
  }
}
</script>

<style lang="scss">
  .ship-popup {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }
  .controls-label {
    position: absolute;
    top: -2rem;
    margin: auto;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
  }
</style>
